<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

	<context id="mysql" targetRuntime="MyBatis3">
		<plugin type="org.mybatis.generator.plugins.SerializablePlugin" />
<!-- 		<plugin type="tw.mybatis.MySqlPaginationPlugin" /> -->
			
        <!-- MSSql -->
		<jdbcConnection driverClass="com.microsoft.sqlserver.jdbc.SQLServerDriver" 
			connectionURL="jdbc:sqlserver://192.168.5.75;databaseName=dvrdb" 
			userId="dvradm" password="dvradm" />
	
			
		<javaModelGenerator targetPackage="tw.msigDvrBack.persistence" targetProject="MsigDvrBack/src/main/java" >
			<property name="trimStrings" value="true" />
		</javaModelGenerator>
		<sqlMapGenerator targetPackage="mybatis.msigDvrBack.manual" targetProject="MsigDvrBack/src/main/resources" />
		
		<javaClientGenerator targetPackage="tw.msigDvrBack.manual" targetProject="MsigDvrBack/src/main/java" type="XMLMAPPER">
			<property name="type" value="XMLMAPPER" />
		</javaClientGenerator>
		
<!--  		<table tableName="tb_customer" mapperName="TbCustomerManualMapper"> -->
<!-- 			<columnOverride column="cr_date" jdbcType="TIMESTAMP" /> -->
<!-- 			<columnOverride column="datestamp" jdbcType="TIMESTAMP" /> -->
<!-- 		</table>  -->
  		<table tableName="tb_batch_job_log">
			<columnOverride column="run_date" jdbcType="TIMESTAMP" />
 			<columnOverride column="cr_date" jdbcType="TIMESTAMP" />
 			<columnOverride column="datestamp" jdbcType="TIMESTAMP" />
 		</table>
		
<!-- 		<table tableName="tb_sys_user" > -->
<!-- 			<columnOverride column="password" property="pwd" jdbcType="NVARCHAR" /> -->
<!-- 			<columnOverride column="cr_date" jdbcType="TIMESTAMP" /> -->
<!-- 			<columnOverride column="datestamp" jdbcType="TIMESTAMP" /> -->
<!-- 		</table>  -->

<!-- 		<table tableName="tb_sys_user_pwd_his" mapperName="TbSysUserPwdHisManualMapper"> -->
<!-- 			<columnOverride column="password" property="pwd" jdbcType="NVARCHAR" /> -->
<!-- 			<columnOverride column="cr_date" jdbcType="TIMESTAMP" /> -->
<!-- 			<columnOverride column="datestamp" jdbcType="TIMESTAMP" /> -->
<!-- 		</table>  -->

<!-- 			<table tableName="tb_device" mapperName="TbDeviceManualMapper"> -->
<!-- 				<columnOverride column="bind_date" jdbcType="TIMESTAMP" /> -->
<!-- 				<columnOverride column="upload_date" jdbcType="TIMESTAMP" /> -->
<!-- 				<columnOverride column="cr_date" jdbcType="TIMESTAMP" /> -->
<!-- 				<columnOverride column="datestamp" jdbcType="TIMESTAMP" /> -->
<!-- 			</table>  -->

			<table tableName="vw_customer" mapperName="VwTbCustomerMapper"></table> 
 
	</context>
</generatorConfiguration>