<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tw.msigDvrBack.manual.TbCustomerManualMapper">
<sql id="msSqlrowNumberBegin">
    	rownum
    	,userId
		,userName
		,engName
		,nickname
		,email
		,mobilePhone
		,password
		,sex
		,dob
		,contactPhone
		,addr
		,custStatus
		,picUrl
		,cuid
		,agreeTime
		,accCtcName
		,accCtcMobile
		,pwdStatus
		,asappLoginTime 
		,crUser
		,crDate
		,userstamp 
		,datestamp
		,registerTime
		,carNo
		,unuseDvrCnt
		,remarks
		,warmChgPwDt
		,sn
	    from ( 
		 select ROW_NUMBER() over (
		 <if test="orderByClause != null and orderByClause != ''">
	        <if test="orderByClause == 'user_id'">
		      order by customer.user_id
		    </if>
	        <if test="orderByClause == 'datestamp desc'">
		      order by customer.datestamp desc
		    </if>
	    </if>
	    <if test="orderByClause == null">
	    	 order by customer.datestamp desc
	    </if>
		 ) rownum, 
    </sql>
    <sql id="msSqlrowNumberEnd">
	    ) as rownumbertable
	    where rownum between (#{begin}+1) and (#{perPage} + #{begin})
    </sql>
    <sql id="columnName">
   	  customer.user_id as userId
      ,customer.user_name as userName
      ,customer.eng_name as engName
      ,customer.nickname as nickname
      ,customer.email as email
      ,customer.mobile_phone as mobilePhone
      ,customer.password as password
      ,customer.sex as sex
      ,customer.dob as dob
      ,customer.contact_phone as contactPhone
      ,customer.addr as addr
      ,customer.cust_status as custStatus
      ,customer.pic_url as picUrl
      ,customer.cuid as cuid
      ,customer.agree_time as agreeTime
      ,customer.acc_ctc_name as accCtcName
      ,customer.acc_ctc_mobile as accCtcMobile
      ,customer.pwd_status as pwdStatus
      ,customer.app_login_time as asappLoginTime 
      ,customer.cr_user as crUser
      ,customer.cr_date as crDate
      ,customer.userstamp as userstamp 
      ,customer.datestamp as datestamp
      ,customer.register_time as registerTime
      ,customer.car_no as carNo
      ,customer.unuse_dvr_cnt as unuseDvrCnt
      ,customer.remarks as remarks
      ,customer.warm_chg_pw_dt as warmChgPwDt
      ,device.sn as sn
    </sql>
  <resultMap id="BaseResultMap" type="tw.msigDvrBack.persistence.TbCustomer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Jun 04 09:20:09 GMT+08:00 2020.
    -->
    <id column="user_id" jdbcType="NVARCHAR" property="userId" />
    <result column="user_name" jdbcType="NVARCHAR" property="userName" />
    <result column="eng_name" jdbcType="NVARCHAR" property="engName" />
    <result column="nickname" jdbcType="NVARCHAR" property="nickname" />
    <result column="email" jdbcType="NVARCHAR" property="email" />
    <result column="mobile_phone" jdbcType="NVARCHAR" property="mobilePhone" />
    <result column="password" jdbcType="NVARCHAR" property="password" />
    <result column="sex" jdbcType="NVARCHAR" property="sex" />
    <result column="dob" jdbcType="DATE" property="dob" />
    <result column="contact_phone" jdbcType="NVARCHAR" property="contactPhone" />
    <result column="addr" jdbcType="NVARCHAR" property="addr" />
    <result column="cust_status" jdbcType="NVARCHAR" property="custStatus" />
    <result column="pic_url" jdbcType="NVARCHAR" property="picUrl" />
    <result column="cuid" jdbcType="NVARCHAR" property="cuid" />
    <result column="agree_time" jdbcType="TIMESTAMP" property="agreeTime" />
    <result column="acc_ctc_name" jdbcType="NVARCHAR" property="accCtcName" />
    <result column="acc_ctc_mobile" jdbcType="NVARCHAR" property="accCtcMobile" />
    <result column="pwd_status" jdbcType="NVARCHAR" property="pwdStatus" />
    <result column="app_login_time" jdbcType="TIMESTAMP" property="appLoginTime" />
    <result column="cr_user" jdbcType="NVARCHAR" property="crUser" />
    <result column="cr_date" jdbcType="TIMESTAMP" property="crDate" />
    <result column="userstamp" jdbcType="NVARCHAR" property="userstamp" />
    <result column="datestamp" jdbcType="TIMESTAMP" property="datestamp" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="car_no" jdbcType="NVARCHAR" property="carNo" />
    <result column="unuse_dvr_cnt" jdbcType="SMALLINT" property="unuseDvrCnt" />
    <result column="remarks" jdbcType="NVARCHAR" property="remarks" />
    <result column="warm_chg_pw_dt" jdbcType="DATE" property="warmChgPwDt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Jun 04 09:20:09 GMT+08:00 2020.
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Jun 04 09:20:09 GMT+08:00 2020.
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Jun 04 09:20:09 GMT+08:00 2020.
    -->
    user_id, user_name, eng_name, nickname, email, mobile_phone, password, sex, dob, 
    contact_phone, addr, cust_status, pic_url, cuid, agree_time, acc_ctc_name, acc_ctc_mobile, 
    pwd_status, app_login_time, cr_user, cr_date, userstamp, datestamp, register_time, 
    car_no, unuse_dvr_cnt, remarks, warm_chg_pw_dt
  </sql>
  <select id="selectByExample" parameterType="java.util.Map" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Oct 24 11:12:50 GMT+08:00 2018.
    -->
   select
    <if test="page != null">
   		<include refid="msSqlrowNumberBegin"/>
   	</if>
    <if test="distinct" >
      distinct
    </if>
    <include refid="columnName"/>
    FROM tb_customer customer 
    LEFT JOIN tb_device device
    ON device.user_id = customer.user_id
    <where>
   		<if test="userId != null and userId != '' ">
			AND customer.user_id =#{userId}
		</if>
   		<if test="userIdLike != null and userIdLike != '' ">
			AND customer.user_id like #{userIdLike}
		</if>
   		<if test="userName != null and userName != '' ">
			AND customer.user_name = #{userName}
		</if>
   		<if test="userNameLike != null and userNameLike != '' ">
			AND customer.user_name like #{userNameLike}
		</if>
   		<if test="email != null and email != '' ">
			AND customer.email = #{email}
		</if>
   		<if test="emailLike != null and emailLike != '' ">
			AND customer.email like #{emailLike}
		</if>
   		<if test="cuid != null and cuid != '' ">
			AND customer.cuid = #{cuid}
		</if>
   		<if test="cuidlLike != null and cuidlLike != '' ">
			AND customer.cuid like #{cuidlLike}
		</if>
		<if test="custStatus != null and custStatus != '' ">
			AND customer.cust_status = #{custStatus}
		</if>
		<if test="registerTimeBetween != null and registerTimeBetween != ''">
        	and customer.register_time  <![CDATA[ <= ]]>   #{registerTimeEnd} and customer.register_time <![CDATA[ >= ]]> #{registerTimeBegin}
        </if>
        <if test="registerTimeGreaterThanOrEqualTo != null and registerTimeGreaterThanOrEqualTo != ''">
        	and customer.register_time <![CDATA[ >= ]]> #{registerTimeBegin}
        </if>
        <if test="registerTimeLessThanOrEqualTo != null and registerTimeLessThanOrEqualTo != ''">
        	and customer.register_time  <![CDATA[ <= ]]>   #{registerTimeEnd} 
        </if>
    </where>
   	<if test="page == null">
        <if test="orderByClause != null and orderByClause != ''">
	        <if test="orderByClause == 'user_id'">
		      order by customer.user_id
		    </if>
	        <if test="orderByClause == 'datestamp desc'">
		      order by customer.datestamp desc
		    </if>
	    </if>
   	</if>
    <if test="page != null">
       	<include refid="msSqlrowNumberEnd"/>
   	</if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Jun 04 09:20:09 GMT+08:00 2020.
    -->
    select 
    <include refid="Base_Column_List" />
    from tb_customer
    where user_id = #{userId,jdbcType=NVARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Jun 04 09:20:09 GMT+08:00 2020.
    -->
    delete from tb_customer
    where user_id = #{userId,jdbcType=NVARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="tw.msigDvrBack.persistence.TbCustomerExample">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Jun 04 09:20:09 GMT+08:00 2020.
    -->
    delete from tb_customer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="tw.msigDvrBack.persistence.TbCustomer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Jun 04 09:20:09 GMT+08:00 2020.
    -->
    insert into tb_customer (user_id, user_name, eng_name, 
      nickname, email, mobile_phone, 
      password, sex, dob, 
      contact_phone, addr, cust_status, 
      pic_url, cuid, agree_time, 
      acc_ctc_name, acc_ctc_mobile, pwd_status, 
      app_login_time, cr_user, cr_date, 
      userstamp, datestamp, register_time, 
      car_no, unuse_dvr_cnt, remarks, 
      warm_chg_pw_dt)
    values (#{userId,jdbcType=NVARCHAR}, #{userName,jdbcType=NVARCHAR}, #{engName,jdbcType=NVARCHAR}, 
      #{nickname,jdbcType=NVARCHAR}, #{email,jdbcType=NVARCHAR}, #{mobilePhone,jdbcType=NVARCHAR}, 
      #{password,jdbcType=NVARCHAR}, #{sex,jdbcType=NVARCHAR}, #{dob,jdbcType=DATE}, 
      #{contactPhone,jdbcType=NVARCHAR}, #{addr,jdbcType=NVARCHAR}, #{custStatus,jdbcType=NVARCHAR}, 
      #{picUrl,jdbcType=NVARCHAR}, #{cuid,jdbcType=NVARCHAR}, #{agreeTime,jdbcType=TIMESTAMP}, 
      #{accCtcName,jdbcType=NVARCHAR}, #{accCtcMobile,jdbcType=NVARCHAR}, #{pwdStatus,jdbcType=NVARCHAR}, 
      #{appLoginTime,jdbcType=TIMESTAMP}, #{crUser,jdbcType=NVARCHAR}, #{crDate,jdbcType=TIMESTAMP}, 
      #{userstamp,jdbcType=NVARCHAR}, #{datestamp,jdbcType=TIMESTAMP}, #{registerTime,jdbcType=TIMESTAMP}, 
      #{carNo,jdbcType=NVARCHAR}, #{unuseDvrCnt,jdbcType=SMALLINT}, #{remarks,jdbcType=NVARCHAR}, 
      #{warmChgPwDt,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="tw.msigDvrBack.persistence.TbCustomer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Jun 04 09:20:09 GMT+08:00 2020.
    -->
    insert into tb_customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="engName != null">
        eng_name,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="mobilePhone != null">
        mobile_phone,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="dob != null">
        dob,
      </if>
      <if test="contactPhone != null">
        contact_phone,
      </if>
      <if test="addr != null">
        addr,
      </if>
      <if test="custStatus != null">
        cust_status,
      </if>
      <if test="picUrl != null">
        pic_url,
      </if>
      <if test="cuid != null">
        cuid,
      </if>
      <if test="agreeTime != null">
        agree_time,
      </if>
      <if test="accCtcName != null">
        acc_ctc_name,
      </if>
      <if test="accCtcMobile != null">
        acc_ctc_mobile,
      </if>
      <if test="pwdStatus != null">
        pwd_status,
      </if>
      <if test="appLoginTime != null">
        app_login_time,
      </if>
      <if test="crUser != null">
        cr_user,
      </if>
      <if test="crDate != null">
        cr_date,
      </if>
      <if test="userstamp != null">
        userstamp,
      </if>
      <if test="datestamp != null">
        datestamp,
      </if>
      <if test="registerTime != null">
        register_time,
      </if>
      <if test="carNo != null">
        car_no,
      </if>
      <if test="unuseDvrCnt != null">
        unuse_dvr_cnt,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="warmChgPwDt != null">
        warm_chg_pw_dt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=NVARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=NVARCHAR},
      </if>
      <if test="engName != null">
        #{engName,jdbcType=NVARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=NVARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=NVARCHAR},
      </if>
      <if test="mobilePhone != null">
        #{mobilePhone,jdbcType=NVARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=NVARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=NVARCHAR},
      </if>
      <if test="dob != null">
        #{dob,jdbcType=DATE},
      </if>
      <if test="contactPhone != null">
        #{contactPhone,jdbcType=NVARCHAR},
      </if>
      <if test="addr != null">
        #{addr,jdbcType=NVARCHAR},
      </if>
      <if test="custStatus != null">
        #{custStatus,jdbcType=NVARCHAR},
      </if>
      <if test="picUrl != null">
        #{picUrl,jdbcType=NVARCHAR},
      </if>
      <if test="cuid != null">
        #{cuid,jdbcType=NVARCHAR},
      </if>
      <if test="agreeTime != null">
        #{agreeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="accCtcName != null">
        #{accCtcName,jdbcType=NVARCHAR},
      </if>
      <if test="accCtcMobile != null">
        #{accCtcMobile,jdbcType=NVARCHAR},
      </if>
      <if test="pwdStatus != null">
        #{pwdStatus,jdbcType=NVARCHAR},
      </if>
      <if test="appLoginTime != null">
        #{appLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crUser != null">
        #{crUser,jdbcType=NVARCHAR},
      </if>
      <if test="crDate != null">
        #{crDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userstamp != null">
        #{userstamp,jdbcType=NVARCHAR},
      </if>
      <if test="datestamp != null">
        #{datestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="registerTime != null">
        #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="carNo != null">
        #{carNo,jdbcType=NVARCHAR},
      </if>
      <if test="unuseDvrCnt != null">
        #{unuseDvrCnt,jdbcType=SMALLINT},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=NVARCHAR},
      </if>
      <if test="warmChgPwDt != null">
        #{warmChgPwDt,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Oct 24 11:12:50 GMT+08:00 2018.
    -->
    select count(*) from tb_customer
    <where>
   		<if test="userId != null and userId != '' ">
			AND user_id =#{userId}
		</if>
   		<if test="userIdLike != null and userIdLike != '' ">
			AND user_id like #{userIdLike}
		</if>
   		<if test="userName != null and userName != '' ">
			AND user_name = #{userName}
		</if>
   		<if test="userNameLike != null and userNameLike != '' ">
			AND user_name like #{userNameLike}
		</if>
   		<if test="email != null and email != '' ">
			AND email = #{email}
		</if>
   		<if test="emailLike != null and emailLike != '' ">
			AND email like #{emailLike}
		</if>
   		<if test="cuid != null and cuid != '' ">
			AND cuid = #{cuid}
		</if>
   		<if test="cuidlLike != null and cuidlLike != '' ">
			AND cuid like #{cuidlLike}
		</if>
		<if test="custStatus != null and custStatus != '' ">
			AND cust_status = #{custStatus}
		</if>
		<if test="registerTimeBetween != null and registerTimeBetween != ''">
        	and register_time  <![CDATA[ <= ]]>   #{registerTimeEnd} and register_time <![CDATA[ >= ]]> #{registerTimeBegin}
        </if>
        <if test="registerTimeGreaterThanOrEqualTo != null and registerTimeGreaterThanOrEqualTo != ''">
        	and register_time <![CDATA[ >= ]]> #{registerTimeBegin}
        </if>
        <if test="registerTimeLessThanOrEqualTo != null and registerTimeLessThanOrEqualTo != ''">
        	and register_time  <![CDATA[ <= ]]>   #{registerTimeEnd} 
        </if>
    </where>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Jun 04 09:20:09 GMT+08:00 2020.
    -->
    update tb_customer
    <set>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=NVARCHAR},
      </if>
      <if test="record.userName != null">
        user_name = #{record.userName,jdbcType=NVARCHAR},
      </if>
      <if test="record.engName != null">
        eng_name = #{record.engName,jdbcType=NVARCHAR},
      </if>
      <if test="record.nickname != null">
        nickname = #{record.nickname,jdbcType=NVARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=NVARCHAR},
      </if>
      <if test="record.mobilePhone != null">
        mobile_phone = #{record.mobilePhone,jdbcType=NVARCHAR},
      </if>
      <if test="record.password != null">
        password = #{record.password,jdbcType=NVARCHAR},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=NVARCHAR},
      </if>
      <if test="record.dob != null">
        dob = #{record.dob,jdbcType=DATE},
      </if>
      <if test="record.contactPhone != null">
        contact_phone = #{record.contactPhone,jdbcType=NVARCHAR},
      </if>
      <if test="record.addr != null">
        addr = #{record.addr,jdbcType=NVARCHAR},
      </if>
      <if test="record.custStatus != null">
        cust_status = #{record.custStatus,jdbcType=NVARCHAR},
      </if>
      <if test="record.picUrl != null">
        pic_url = #{record.picUrl,jdbcType=NVARCHAR},
      </if>
      <if test="record.cuid != null">
        cuid = #{record.cuid,jdbcType=NVARCHAR},
      </if>
      <if test="record.agreeTime != null">
        agree_time = #{record.agreeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.accCtcName != null">
        acc_ctc_name = #{record.accCtcName,jdbcType=NVARCHAR},
      </if>
      <if test="record.accCtcMobile != null">
        acc_ctc_mobile = #{record.accCtcMobile,jdbcType=NVARCHAR},
      </if>
      <if test="record.pwdStatus != null">
        pwd_status = #{record.pwdStatus,jdbcType=NVARCHAR},
      </if>
      <if test="record.appLoginTime != null">
        app_login_time = #{record.appLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.crUser != null">
        cr_user = #{record.crUser,jdbcType=NVARCHAR},
      </if>
      <if test="record.crDate != null">
        cr_date = #{record.crDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userstamp != null">
        userstamp = #{record.userstamp,jdbcType=NVARCHAR},
      </if>
      <if test="record.datestamp != null">
        datestamp = #{record.datestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.registerTime != null">
        register_time = #{record.registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.carNo != null">
        car_no = #{record.carNo,jdbcType=NVARCHAR},
      </if>
      <if test="record.unuseDvrCnt != null">
        unuse_dvr_cnt = #{record.unuseDvrCnt,jdbcType=SMALLINT},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=NVARCHAR},
      </if>
      <if test="record.warmChgPwDt != null">
        warm_chg_pw_dt = #{record.warmChgPwDt,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Jun 04 09:20:09 GMT+08:00 2020.
    -->
    update tb_customer
    set user_id = #{record.userId,jdbcType=NVARCHAR},
      user_name = #{record.userName,jdbcType=NVARCHAR},
      eng_name = #{record.engName,jdbcType=NVARCHAR},
      nickname = #{record.nickname,jdbcType=NVARCHAR},
      email = #{record.email,jdbcType=NVARCHAR},
      mobile_phone = #{record.mobilePhone,jdbcType=NVARCHAR},
      password = #{record.password,jdbcType=NVARCHAR},
      sex = #{record.sex,jdbcType=NVARCHAR},
      dob = #{record.dob,jdbcType=DATE},
      contact_phone = #{record.contactPhone,jdbcType=NVARCHAR},
      addr = #{record.addr,jdbcType=NVARCHAR},
      cust_status = #{record.custStatus,jdbcType=NVARCHAR},
      pic_url = #{record.picUrl,jdbcType=NVARCHAR},
      cuid = #{record.cuid,jdbcType=NVARCHAR},
      agree_time = #{record.agreeTime,jdbcType=TIMESTAMP},
      acc_ctc_name = #{record.accCtcName,jdbcType=NVARCHAR},
      acc_ctc_mobile = #{record.accCtcMobile,jdbcType=NVARCHAR},
      pwd_status = #{record.pwdStatus,jdbcType=NVARCHAR},
      app_login_time = #{record.appLoginTime,jdbcType=TIMESTAMP},
      cr_user = #{record.crUser,jdbcType=NVARCHAR},
      cr_date = #{record.crDate,jdbcType=TIMESTAMP},
      userstamp = #{record.userstamp,jdbcType=NVARCHAR},
      datestamp = #{record.datestamp,jdbcType=TIMESTAMP},
      register_time = #{record.registerTime,jdbcType=TIMESTAMP},
      car_no = #{record.carNo,jdbcType=NVARCHAR},
      unuse_dvr_cnt = #{record.unuseDvrCnt,jdbcType=SMALLINT},
      remarks = #{record.remarks,jdbcType=NVARCHAR},
      warm_chg_pw_dt = #{record.warmChgPwDt,jdbcType=DATE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="tw.msigDvrBack.persistence.TbCustomer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Jun 04 09:20:09 GMT+08:00 2020.
    -->
    update tb_customer
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=NVARCHAR},
      </if>
      <if test="engName != null">
        eng_name = #{engName,jdbcType=NVARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=NVARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=NVARCHAR},
      </if>
      <if test="mobilePhone != null">
        mobile_phone = #{mobilePhone,jdbcType=NVARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=NVARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=NVARCHAR},
      </if>
      <if test="dob != null">
        dob = #{dob,jdbcType=DATE},
      </if>
      <if test="contactPhone != null">
        contact_phone = #{contactPhone,jdbcType=NVARCHAR},
      </if>
      <if test="addr != null">
        addr = #{addr,jdbcType=NVARCHAR},
      </if>
      <if test="custStatus != null">
        cust_status = #{custStatus,jdbcType=NVARCHAR},
      </if>
      <if test="picUrl != null">
        pic_url = #{picUrl,jdbcType=NVARCHAR},
      </if>
      <if test="cuid != null">
        cuid = #{cuid,jdbcType=NVARCHAR},
      </if>
      <if test="agreeTime != null">
        agree_time = #{agreeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="accCtcName != null">
        acc_ctc_name = #{accCtcName,jdbcType=NVARCHAR},
      </if>
      <if test="accCtcMobile != null">
        acc_ctc_mobile = #{accCtcMobile,jdbcType=NVARCHAR},
      </if>
      <if test="pwdStatus != null">
        pwd_status = #{pwdStatus,jdbcType=NVARCHAR},
      </if>
      <if test="appLoginTime != null">
        app_login_time = #{appLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crUser != null">
        cr_user = #{crUser,jdbcType=NVARCHAR},
      </if>
      <if test="crDate != null">
        cr_date = #{crDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userstamp != null">
        userstamp = #{userstamp,jdbcType=NVARCHAR},
      </if>
      <if test="datestamp != null">
        datestamp = #{datestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="registerTime != null">
        register_time = #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="carNo != null">
        car_no = #{carNo,jdbcType=NVARCHAR},
      </if>
      <if test="unuseDvrCnt != null">
        unuse_dvr_cnt = #{unuseDvrCnt,jdbcType=SMALLINT},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=NVARCHAR},
      </if>
      <if test="warmChgPwDt != null">
        warm_chg_pw_dt = #{warmChgPwDt,jdbcType=DATE},
      </if>
    </set>
    where user_id = #{userId,jdbcType=NVARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="tw.msigDvrBack.persistence.TbCustomer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Jun 04 09:20:09 GMT+08:00 2020.
    -->
    update tb_customer
    set user_name = #{userName,jdbcType=NVARCHAR},
      eng_name = #{engName,jdbcType=NVARCHAR},
      nickname = #{nickname,jdbcType=NVARCHAR},
      email = #{email,jdbcType=NVARCHAR},
      mobile_phone = #{mobilePhone,jdbcType=NVARCHAR},
      password = #{password,jdbcType=NVARCHAR},
      sex = #{sex,jdbcType=NVARCHAR},
      dob = #{dob,jdbcType=DATE},
      contact_phone = #{contactPhone,jdbcType=NVARCHAR},
      addr = #{addr,jdbcType=NVARCHAR},
      cust_status = #{custStatus,jdbcType=NVARCHAR},
      pic_url = #{picUrl,jdbcType=NVARCHAR},
      cuid = #{cuid,jdbcType=NVARCHAR},
      agree_time = #{agreeTime,jdbcType=TIMESTAMP},
      acc_ctc_name = #{accCtcName,jdbcType=NVARCHAR},
      acc_ctc_mobile = #{accCtcMobile,jdbcType=NVARCHAR},
      pwd_status = #{pwdStatus,jdbcType=NVARCHAR},
      app_login_time = #{appLoginTime,jdbcType=TIMESTAMP},
      cr_user = #{crUser,jdbcType=NVARCHAR},
      cr_date = #{crDate,jdbcType=TIMESTAMP},
      userstamp = #{userstamp,jdbcType=NVARCHAR},
      datestamp = #{datestamp,jdbcType=TIMESTAMP},
      register_time = #{registerTime,jdbcType=TIMESTAMP},
      car_no = #{carNo,jdbcType=NVARCHAR},
      unuse_dvr_cnt = #{unuseDvrCnt,jdbcType=SMALLINT},
      remarks = #{remarks,jdbcType=NVARCHAR},
      warm_chg_pw_dt = #{warmChgPwDt,jdbcType=DATE}
    where user_id = #{userId,jdbcType=NVARCHAR}
  </update>
  
  <select id="getCustomerAndCustCar" parameterType="java.util.Map" resultType="java.util.HashMap">
         select 
         cust.user_id as userId,
          user_name as userName,
           email as email,
            car_no as carNo,
            cust_status as custStatus
             from tb_customer cust
              left join tb_cust_car car 
              on 
              cust.user_id = car.user_id 
        <where>
            <if test="userId != null and userId != ''">
                and cust.user_id = #{userId}
            </if>
            <if test="userIdLike != null and userIdLike != ''">
                and cust.user_id like #{userIdLike}
            </if>
            <if test="userName != null and userName != ''">
                and cust.user_name =  #{userName}
            </if>
            <if test="userNameLike != null and userNameLike != ''">
                and cust.user_name like  #{userNameLike}
            </if>
            <if test="email != null and email != ''">
                and cust.email =  #{email}
            </if>
            <if test="emailLike != null and emailLike != ''">
                and cust.email like  #{emailLike}
            </if>
            <if test="carNo != null and carNo != ''">
                and car.car_no =  #{carNo}
            </if>
            <if test="carNoLike != null and carNoLike != ''">
                and car.car_no like  #{carNoLike}
            </if>
        </where>
        order by cust.user_id
    </select>
  <select id="getCustomerAndCustCar002" parameterType="java.util.HashMap" resultType="java.util.HashMap">
         select 
         cust.user_id as userId,
          user_name as userName,
           email as email,
            mobile_phone as mobilePhone,
			cuid as cuid,
			cust_status as custStatus,
			acc_ctc_name as accCtcName,
			acc_ctc_mobile as accCtcMobile,
			car_no as carNo 
             from tb_customer cust
              join tb_cust_car car 
              on 
              cust.user_id = car.user_id 
        <where>
            <if test="userId != null and userId != ''">
                and cust.user_id = #{userId}
            </if>
            <if test="userIdLike != null and userIdLike != ''">
                and cust.user_id like #{userIdLike}
            </if>
            <if test="userName != null and userName != ''">
                and cust.user_name = #{userName}
            </if>
            <if test="userNameLike != null and userNameLike != ''">
                and cust.user_name like #{userNameLike}
            </if>
            <if test="email != null and email != ''">
                and cust.email =  #{email}
            </if>
            <if test="emailLike != null and emailLike != ''">
                and cust.email like  #{emailLike}
            </if>
            <if test="carNo != null and carNo != ''">
                and car.car_no =  #{carNo}
            </if>
            <if test="carNoLike != null and carNoLike != ''">
                and car.car_no like  #{carNoLike}
            </if>
        </where>
        order by cust.user_id
    </select>
</mapper>