<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tw.msigDvrBack.manual.TbCustCarManualMapper">
	<sql id="msSqlrowNumberBegin">
    	rownum
    	,userId
      ,carNo
      ,effMileage
      ,effMileageDate
      ,effMileageImg
      ,endMileage
      ,endMileageDate
      ,endMileageImg
      ,carLabel
      ,carType
      ,carNorm
      ,oilType
      ,endUbiDate
      ,vipType
      ,mileageStatus
      ,resetTime
      ,servicer
      ,promCode
      ,carnoUpdate
      ,ubiMark
      ,crUser
      ,crDate
      ,userstamp
      ,datestamp
	    from ( 
		 select ROW_NUMBER() over (order by #{orderByClause}) rownum, 
    </sql>
    <sql id="msSqlrowNumberEnd">
	    ) as rownumbertable
	    where rownum between (#{begin}+1) and (#{perPage} + #{begin})
    </sql>
    <sql id="columnName">
    	user_id as userId
      ,car_no as carNo
      ,eff_mileage as effMileage
      ,eff_mileage_date as effMileageDate
      ,eff_mileage_img as effMileageImg
      ,end_mileage as endMileage
      ,end_mileage_date as endMileageDate
      ,end_mileage_img as endMileageImg
      ,car_label as carLabel
      ,car_type as carType
      ,car_norm as carNorm
      ,oil_type as oilType
      ,end_ubi_date as endUbiDate
      ,vip_type as vipType
      ,mileage_status as mileageStatus
      ,reset_time as resetTime
      ,servicer as servicer
      ,prom_code as promCode
      ,carno_update as carnoUpdate
      ,ubi_mark as ubiMark
      ,cr_user as crUser
      ,cr_date as crDate
      ,userstamp as userstamp
      ,datestamp as datestamp
    </sql>
  <resultMap id="BaseResultMap" type="tw.msigDvrBack.persistence.TbCustCar">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Nov 02 12:05:45 GMT+08:00 2018.
    -->
    <id column="user_id" jdbcType="NVARCHAR" property="userId" />
    <result column="car_no" jdbcType="NVARCHAR" property="carNo" />
    <result column="eff_mileage" jdbcType="INTEGER" property="effMileage" />
    <result column="eff_mileage_date" jdbcType="DATE" property="effMileageDate" />
    <result column="eff_mileage_img" jdbcType="NVARCHAR" property="effMileageImg" />
    <result column="end_mileage" jdbcType="INTEGER" property="endMileage" />
    <result column="end_mileage_date" jdbcType="DATE" property="endMileageDate" />
    <result column="end_mileage_img" jdbcType="NVARCHAR" property="endMileageImg" />
    <result column="car_label" jdbcType="NVARCHAR" property="carLabel" />
    <result column="car_type" jdbcType="NVARCHAR" property="carType" />
    <result column="car_norm" jdbcType="NVARCHAR" property="carNorm" />
    <result column="oil_type" jdbcType="NVARCHAR" property="oilType" />
    <result column="eff_ubi_date" jdbcType="DATE" property="effUbiDate" />
    <result column="end_ubi_date" jdbcType="DATE" property="endUbiDate" />
    <result column="ubi_mark" jdbcType="NVARCHAR" property="ubiMark" />
    <result column="vip_type" jdbcType="NVARCHAR" property="vipType" />
    <result column="mileage_status" jdbcType="NVARCHAR" property="mileageStatus" />
    <result column="reset_time" jdbcType="TIMESTAMP" property="resetTime" />
    <result column="servicer" jdbcType="NVARCHAR" property="servicer" />
    <result column="prom_code" jdbcType="NVARCHAR" property="promCode" />
    <result column="carno_update" jdbcType="TIMESTAMP" property="carnoUpdate" />
    <result column="cr_user" jdbcType="NVARCHAR" property="crUser" />
    <result column="cr_date" jdbcType="TIMESTAMP" property="crDate" />
    <result column="userstamp" jdbcType="NVARCHAR" property="userstamp" />
    <result column="datestamp" jdbcType="TIMESTAMP" property="datestamp" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Nov 02 12:05:45 GMT+08:00 2018.
    -->
    user_id, car_no, eff_mileage, eff_mileage_date, eff_mileage_img, end_mileage, end_mileage_date, 
    end_mileage_img, car_label, car_type, car_norm, oil_type, eff_ubi_date, end_ubi_date, 
    ubi_mark, vip_type, mileage_status, reset_time, servicer, prom_code, carno_update, 
    cr_user, cr_date, userstamp, datestamp
  </sql>
  <select id="selectByExample" parameterType="java.util.Map" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Nov 02 12:05:45 GMT+08:00 2018.
    -->
    select
    <if test="page != null">
   		<include refid="msSqlrowNumberBegin"/>
   	</if>
    <if test="distinct">
      distinct
    </if>
    <include refid="columnName" />
    from tb_cust_car
    <where>
   		<if test="carNo != null and carNo != '' ">
			AND car_no =#{carNo}
		</if>
    </where>
    <if test="page != null">
       	<include refid="msSqlrowNumberEnd"/>
   	</if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Nov 02 12:05:45 GMT+08:00 2018.
    -->
    select 
    <include refid="Base_Column_List" />
    from tb_cust_car
    where user_id = #{userId,jdbcType=NVARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Nov 02 12:05:45 GMT+08:00 2018.
    -->
    delete from tb_cust_car
    where user_id = #{userId,jdbcType=NVARCHAR}
  </delete>
  <insert id="insert" parameterType="tw.msigDvrBack.persistence.TbCustCar">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Nov 02 12:05:45 GMT+08:00 2018.
    -->
    insert into tb_cust_car (user_id, car_no, eff_mileage, 
      eff_mileage_date, eff_mileage_img, end_mileage, 
      end_mileage_date, end_mileage_img, car_label, 
      car_type, car_norm, oil_type, 
      eff_ubi_date, end_ubi_date, ubi_mark, 
      vip_type, mileage_status, reset_time, 
      servicer, prom_code, carno_update, 
      cr_user, cr_date, userstamp, 
      datestamp)
    values (#{userId,jdbcType=NVARCHAR}, #{carNo,jdbcType=NVARCHAR}, #{effMileage,jdbcType=INTEGER}, 
      #{effMileageDate,jdbcType=DATE}, #{effMileageImg,jdbcType=NVARCHAR}, #{endMileage,jdbcType=INTEGER}, 
      #{endMileageDate,jdbcType=DATE}, #{endMileageImg,jdbcType=NVARCHAR}, #{carLabel,jdbcType=NVARCHAR}, 
      #{carType,jdbcType=NVARCHAR}, #{carNorm,jdbcType=NVARCHAR}, #{oilType,jdbcType=NVARCHAR}, 
      #{effUbiDate,jdbcType=DATE}, #{endUbiDate,jdbcType=DATE}, #{ubiMark,jdbcType=NVARCHAR}, 
      #{vipType,jdbcType=NVARCHAR}, #{mileageStatus,jdbcType=NVARCHAR}, #{resetTime,jdbcType=TIMESTAMP}, 
      #{servicer,jdbcType=NVARCHAR}, #{promCode,jdbcType=NVARCHAR}, #{carnoUpdate,jdbcType=TIMESTAMP}, 
      #{crUser,jdbcType=NVARCHAR}, #{crDate,jdbcType=TIMESTAMP}, #{userstamp,jdbcType=NVARCHAR}, 
      #{datestamp,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="tw.msigDvrBack.persistence.TbCustCar">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Nov 02 12:05:45 GMT+08:00 2018.
    -->
    insert into tb_cust_car
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="carNo != null">
        car_no,
      </if>
      <if test="effMileage != null">
        eff_mileage,
      </if>
      <if test="effMileageDate != null">
        eff_mileage_date,
      </if>
      <if test="effMileageImg != null">
        eff_mileage_img,
      </if>
      <if test="endMileage != null">
        end_mileage,
      </if>
      <if test="endMileageDate != null">
        end_mileage_date,
      </if>
      <if test="endMileageImg != null">
        end_mileage_img,
      </if>
      <if test="carLabel != null">
        car_label,
      </if>
      <if test="carType != null">
        car_type,
      </if>
      <if test="carNorm != null">
        car_norm,
      </if>
      <if test="oilType != null">
        oil_type,
      </if>
      <if test="effUbiDate != null">
        eff_ubi_date,
      </if>
      <if test="endUbiDate != null">
        end_ubi_date,
      </if>
      <if test="ubiMark != null">
        ubi_mark,
      </if>
      <if test="vipType != null">
        vip_type,
      </if>
      <if test="mileageStatus != null">
        mileage_status,
      </if>
      <if test="resetTime != null">
        reset_time,
      </if>
      <if test="servicer != null">
        servicer,
      </if>
      <if test="promCode != null">
        prom_code,
      </if>
      <if test="carnoUpdate != null">
        carno_update,
      </if>
      <if test="crUser != null">
        cr_user,
      </if>
      <if test="crDate != null">
        cr_date,
      </if>
      <if test="userstamp != null">
        userstamp,
      </if>
      <if test="datestamp != null">
        datestamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=NVARCHAR},
      </if>
      <if test="carNo != null">
        #{carNo,jdbcType=NVARCHAR},
      </if>
      <if test="effMileage != null">
        #{effMileage,jdbcType=INTEGER},
      </if>
      <if test="effMileageDate != null">
        #{effMileageDate,jdbcType=DATE},
      </if>
      <if test="effMileageImg != null">
        #{effMileageImg,jdbcType=NVARCHAR},
      </if>
      <if test="endMileage != null">
        #{endMileage,jdbcType=INTEGER},
      </if>
      <if test="endMileageDate != null">
        #{endMileageDate,jdbcType=DATE},
      </if>
      <if test="endMileageImg != null">
        #{endMileageImg,jdbcType=NVARCHAR},
      </if>
      <if test="carLabel != null">
        #{carLabel,jdbcType=NVARCHAR},
      </if>
      <if test="carType != null">
        #{carType,jdbcType=NVARCHAR},
      </if>
      <if test="carNorm != null">
        #{carNorm,jdbcType=NVARCHAR},
      </if>
      <if test="oilType != null">
        #{oilType,jdbcType=NVARCHAR},
      </if>
      <if test="effUbiDate != null">
        #{effUbiDate,jdbcType=DATE},
      </if>
      <if test="endUbiDate != null">
        #{endUbiDate,jdbcType=DATE},
      </if>
      <if test="ubiMark != null">
        #{ubiMark,jdbcType=NVARCHAR},
      </if>
      <if test="vipType != null">
        #{vipType,jdbcType=NVARCHAR},
      </if>
      <if test="mileageStatus != null">
        #{mileageStatus,jdbcType=NVARCHAR},
      </if>
      <if test="resetTime != null">
        #{resetTime,jdbcType=TIMESTAMP},
      </if>
      <if test="servicer != null">
        #{servicer,jdbcType=NVARCHAR},
      </if>
      <if test="promCode != null">
        #{promCode,jdbcType=NVARCHAR},
      </if>
      <if test="carnoUpdate != null">
        #{carnoUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="crUser != null">
        #{crUser,jdbcType=NVARCHAR},
      </if>
      <if test="crDate != null">
        #{crDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userstamp != null">
        #{userstamp,jdbcType=NVARCHAR},
      </if>
      <if test="datestamp != null">
        #{datestamp,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="tw.msigDvrBack.persistence.TbCustCar">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Nov 02 12:05:45 GMT+08:00 2018.
    -->
    update tb_cust_car
    <set>
      <if test="carNo != null">
        car_no = #{carNo,jdbcType=NVARCHAR},
      </if>
      <if test="effMileage != null">
        eff_mileage = #{effMileage,jdbcType=INTEGER},
      </if>
      <if test="effMileageDate != null">
        eff_mileage_date = #{effMileageDate,jdbcType=DATE},
      </if>
      <if test="effMileageImg != null">
        eff_mileage_img = #{effMileageImg,jdbcType=NVARCHAR},
      </if>
      <if test="endMileage != null">
        end_mileage = #{endMileage,jdbcType=INTEGER},
      </if>
      <if test="endMileageDate != null">
        end_mileage_date = #{endMileageDate,jdbcType=DATE},
      </if>
      <if test="endMileageImg != null">
        end_mileage_img = #{endMileageImg,jdbcType=NVARCHAR},
      </if>
      <if test="carLabel != null">
        car_label = #{carLabel,jdbcType=NVARCHAR},
      </if>
      <if test="carType != null">
        car_type = #{carType,jdbcType=NVARCHAR},
      </if>
      <if test="carNorm != null">
        car_norm = #{carNorm,jdbcType=NVARCHAR},
      </if>
      <if test="oilType != null">
        oil_type = #{oilType,jdbcType=NVARCHAR},
      </if>
      <if test="effUbiDate != null">
        eff_ubi_date = #{effUbiDate,jdbcType=DATE},
      </if>
      <if test="endUbiDate != null">
        end_ubi_date = #{endUbiDate,jdbcType=DATE},
      </if>
      <if test="ubiMark != null">
        ubi_mark = #{ubiMark,jdbcType=NVARCHAR},
      </if>
      <if test="vipType != null">
        vip_type = #{vipType,jdbcType=NVARCHAR},
      </if>
      <if test="mileageStatus != null">
        mileage_status = #{mileageStatus,jdbcType=NVARCHAR},
      </if>
      <if test="resetTime != null">
        reset_time = #{resetTime,jdbcType=TIMESTAMP},
      </if>
      <if test="servicer != null">
        servicer = #{servicer,jdbcType=NVARCHAR},
      </if>
      <if test="promCode != null">
        prom_code = #{promCode,jdbcType=NVARCHAR},
      </if>
      <if test="carnoUpdate != null">
        carno_update = #{carnoUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="crUser != null">
        cr_user = #{crUser,jdbcType=NVARCHAR},
      </if>
      <if test="crDate != null">
        cr_date = #{crDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userstamp != null">
        userstamp = #{userstamp,jdbcType=NVARCHAR},
      </if>
      <if test="datestamp != null">
        datestamp = #{datestamp,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=NVARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="tw.msigDvrBack.persistence.TbCustCar">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Nov 02 12:05:45 GMT+08:00 2018.
    -->
    update tb_cust_car
    set car_no = #{carNo,jdbcType=NVARCHAR},
      eff_mileage = #{effMileage,jdbcType=INTEGER},
      eff_mileage_date = #{effMileageDate,jdbcType=DATE},
      eff_mileage_img = #{effMileageImg,jdbcType=NVARCHAR},
      end_mileage = #{endMileage,jdbcType=INTEGER},
      end_mileage_date = #{endMileageDate,jdbcType=DATE},
      end_mileage_img = #{endMileageImg,jdbcType=NVARCHAR},
      car_label = #{carLabel,jdbcType=NVARCHAR},
      car_type = #{carType,jdbcType=NVARCHAR},
      car_norm = #{carNorm,jdbcType=NVARCHAR},
      oil_type = #{oilType,jdbcType=NVARCHAR},
      eff_ubi_date = #{effUbiDate,jdbcType=DATE},
      end_ubi_date = #{endUbiDate,jdbcType=DATE},
      ubi_mark = #{ubiMark,jdbcType=NVARCHAR},
      vip_type = #{vipType,jdbcType=NVARCHAR},
      mileage_status = #{mileageStatus,jdbcType=NVARCHAR},
      reset_time = #{resetTime,jdbcType=TIMESTAMP},
      servicer = #{servicer,jdbcType=NVARCHAR},
      prom_code = #{promCode,jdbcType=NVARCHAR},
      carno_update = #{carnoUpdate,jdbcType=TIMESTAMP},
      cr_user = #{crUser,jdbcType=NVARCHAR},
      cr_date = #{crDate,jdbcType=TIMESTAMP},
      userstamp = #{userstamp,jdbcType=NVARCHAR},
      datestamp = #{datestamp,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=NVARCHAR}
  </update>
</mapper>