<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tw.msigDvrBack.manual.TbDeviceManualMapper">

<sql id="msSqlrowNumberBegin">
    	rownum
      ,deviceType
      ,sn
      ,imei
      ,devEffDate
      ,devEndDate
      ,targetNo
      ,serviceType
      ,simMobile
      ,simEffDate
      ,simEndDate
      ,uploadDate
      ,deviceStatus
      ,userId
      ,bindDate
      ,crUser
      ,crDate
      ,userstamp 
      ,datestamp
	    from ( 
		 select ROW_NUMBER() over (
		<if test="orderByClause != null and orderByClause != ''">
	        <if test="orderByClause == 'device_type'">
		      order by device_type
		    </if>
	        <if test="orderByClause == 'datestamp desc'">
		      order by datestamp desc
		    </if>
	    </if>
	    <if test="orderByClause == null">
			 order by datestamp desc	    
	    </if>
		) rownum, 
    </sql>
    <sql id="msSqlrowNumberEnd">
	    ) as rownumbertable
	    where rownum between (#{begin}+1) and (#{perPage} + #{begin})
    </sql>
    <sql id="columnName">
       device_type as deviceType
      ,sn as sn
      ,imei as imei
      ,dev_eff_date as devEffDate
      ,dev_end_date as devEndDate
      ,target_no as targetNo
      ,service_type as serviceType
      ,sim_mobile as simMobile
      ,sim_eff_date as simEffDate
      ,sim_end_date as simEndDate
      ,upload_date as uploadDate
      ,device_status as deviceStatus
      ,user_id as userId
      ,bind_date as bindDate
      ,cr_user as crUser
      ,cr_date as crDate
      ,userstamp as userstamp
      ,datestamp as datestamp
    </sql>

  <resultMap id="BaseResultMap" type="tw.msigDvrBack.persistence.TbDevice">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jun 02 11:30:13 GMT+08:00 2020.
    -->
    <id column="device_type" jdbcType="NVARCHAR" property="deviceType" />
    <id column="imei" jdbcType="NVARCHAR" property="imei" />
    <id column="sn" jdbcType="NVARCHAR" property="sn" />
    <result column="device_status" jdbcType="NVARCHAR" property="deviceStatus" />
    <result column="user_id" jdbcType="NVARCHAR" property="userId" />
    <result column="bind_date" jdbcType="TIMESTAMP" property="bindDate" />
    <result column="dev_eff_date" jdbcType="DATE" property="devEffDate" />
    <result column="dev_end_date" jdbcType="DATE" property="devEndDate" />
    <result column="target_no" jdbcType="NVARCHAR" property="targetNo" />
    <result column="service_type" jdbcType="NVARCHAR" property="serviceType" />
    <result column="sim_mobile" jdbcType="NVARCHAR" property="simMobile" />
    <result column="sim_eff_date" jdbcType="DATE" property="simEffDate" />
    <result column="sim_end_date" jdbcType="DATE" property="simEndDate" />
    <result column="upload_date" jdbcType="TIMESTAMP" property="uploadDate" />
    <result column="cr_user" jdbcType="NVARCHAR" property="crUser" />
    <result column="cr_date" jdbcType="TIMESTAMP" property="crDate" />
    <result column="userstamp" jdbcType="NVARCHAR" property="userstamp" />
    <result column="datestamp" jdbcType="TIMESTAMP" property="datestamp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jun 02 11:30:13 GMT+08:00 2020.
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jun 02 11:30:13 GMT+08:00 2020.
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jun 02 11:30:13 GMT+08:00 2020.
    -->
    device_type, imei, sn, device_status, user_id, bind_date, dev_eff_date, dev_end_date, 
    target_no, service_type, sim_mobile, sim_eff_date, sim_end_date, upload_date, cr_user, 
    cr_date, userstamp, datestamp
  </sql>
  <select id="selectByExample" parameterType="java.util.Map" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jun 02 11:30:13 GMT+08:00 2020.
    -->
    select
    <if test="page != null">
   		<include refid="msSqlrowNumberBegin"/>
   	</if>
    <if test="distinct">
      distinct
    </if>
    <include refid="columnName"/>
    from tb_device
    <where>
   		<if test="deviceType != null and deviceType != '' ">
			AND device_type =#{deviceType}
		</if>
		<if test="imei != null and imei != '' ">
			AND imei =#{imei}
		</if>
   		<if test="imeiLike != null and imeiLike != '' ">
			AND imei like #{imeiLike}
		</if>
   		<if test="sn != null and sn != '' ">
			AND sn =#{sn}
		</if>
   		<if test="snLike != null and snLike != '' ">
			AND sn like #{snLike}
		</if>
   		<if test="deviceStatus != null and deviceStatus != '' ">
			AND device_status =#{deviceStatus}
		</if>
		<if test="deviceStatusNotEquals != null and deviceStatusNotEquals != '' ">
			AND device_status !=#{deviceStatusNotEquals}
		</if>
		<if test="targetNo != null and targetNo != '' ">
			AND target_no =#{targetNo}
		</if>
   		<if test="targetNoLike != null and targetNoLike != '' ">
			AND target_no like #{targetNoLike}
		</if>
		<if test="simMobile != null and simMobile != '' ">
			AND sim_mobile =#{simMobile}
		</if>
   		<if test="simMobileLike != null and simMobileLike != '' ">
			AND sim_mobile like #{simMobileLike}
		</if>
   		<if test="userId != null and userId != '' ">
			AND user_id =#{userId}
		</if>
   		<if test="userIdLike != null and userIdLike != '' ">
			AND user_id like #{userIdLike}
		</if>
		
    </where>
    <if test="page == null">
        <if test="orderByClause != null">
	      order by #{orderByClause}
	    </if>
   	</if>
   	<if test="page == null">
        <if test="orderByClause != null and orderByClause != ''">
	        <if test="orderByClause == 'device_type'">
		      order by device_type
		    </if>
	        <if test="orderByClause == 'datestamp desc'">
		      order by datestamp desc
		    </if>
	    </if>
   	</if>
   	
    <if test="page != null">
       	<include refid="msSqlrowNumberEnd"/>
   	</if>
  </select>
  <select id="selectByPrimaryKey" parameterType="tw.msigDvrBack.persistence.TbDeviceKey" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jun 02 11:30:13 GMT+08:00 2020.
    -->
    select 
    <include refid="Base_Column_List" />
    from tb_device
    where device_type = #{deviceType,jdbcType=NVARCHAR}
      and imei = #{imei,jdbcType=NVARCHAR}
      and sn = #{sn,jdbcType=NVARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="tw.msigDvrBack.persistence.TbDeviceKey">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jun 02 11:30:13 GMT+08:00 2020.
    -->
    delete from tb_device
    where device_type = #{deviceType,jdbcType=NVARCHAR}
      and imei = #{imei,jdbcType=NVARCHAR}
      and sn = #{sn,jdbcType=NVARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="tw.msigDvrBack.persistence.TbDeviceExample">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jun 02 11:30:13 GMT+08:00 2020.
    -->
    delete from tb_device
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="tw.msigDvrBack.persistence.TbDevice">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jun 02 11:30:13 GMT+08:00 2020.
    -->
    insert into tb_device (device_type, imei, sn, 
      device_status, user_id, bind_date, 
      dev_eff_date, dev_end_date, target_no, 
      service_type, sim_mobile, sim_eff_date, 
      sim_end_date, upload_date, cr_user, 
      cr_date, userstamp, datestamp
      )
    values (#{deviceType,jdbcType=NVARCHAR}, #{imei,jdbcType=NVARCHAR}, #{sn,jdbcType=NVARCHAR}, 
      #{deviceStatus,jdbcType=NVARCHAR}, #{userId,jdbcType=NVARCHAR}, #{bindDate,jdbcType=TIMESTAMP}, 
      #{devEffDate,jdbcType=DATE}, #{devEndDate,jdbcType=DATE}, #{targetNo,jdbcType=NVARCHAR}, 
      #{serviceType,jdbcType=NVARCHAR}, #{simMobile,jdbcType=NVARCHAR}, #{simEffDate,jdbcType=DATE}, 
      #{simEndDate,jdbcType=DATE}, #{uploadDate,jdbcType=TIMESTAMP}, #{crUser,jdbcType=NVARCHAR}, 
      #{crDate,jdbcType=TIMESTAMP}, #{userstamp,jdbcType=NVARCHAR}, #{datestamp,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="tw.msigDvrBack.persistence.TbDevice">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jun 02 11:30:13 GMT+08:00 2020.
    -->
    insert into tb_device
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deviceType != null">
        device_type,
      </if>
      <if test="imei != null">
        imei,
      </if>
      <if test="sn != null">
        sn,
      </if>
      <if test="deviceStatus != null">
        device_status,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="bindDate != null">
        bind_date,
      </if>
      <if test="devEffDate != null">
        dev_eff_date,
      </if>
      <if test="devEndDate != null">
        dev_end_date,
      </if>
      <if test="targetNo != null">
        target_no,
      </if>
      <if test="serviceType != null">
        service_type,
      </if>
      <if test="simMobile != null">
        sim_mobile,
      </if>
      <if test="simEffDate != null">
        sim_eff_date,
      </if>
      <if test="simEndDate != null">
        sim_end_date,
      </if>
      <if test="uploadDate != null">
        upload_date,
      </if>
      <if test="crUser != null">
        cr_user,
      </if>
      <if test="crDate != null">
        cr_date,
      </if>
      <if test="userstamp != null">
        userstamp,
      </if>
      <if test="datestamp != null">
        datestamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deviceType != null">
        #{deviceType,jdbcType=NVARCHAR},
      </if>
      <if test="imei != null">
        #{imei,jdbcType=NVARCHAR},
      </if>
      <if test="sn != null">
        #{sn,jdbcType=NVARCHAR},
      </if>
      <if test="deviceStatus != null">
        #{deviceStatus,jdbcType=NVARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=NVARCHAR},
      </if>
      <if test="bindDate != null">
        #{bindDate,jdbcType=TIMESTAMP},
      </if>
      <if test="devEffDate != null">
        #{devEffDate,jdbcType=DATE},
      </if>
      <if test="devEndDate != null">
        #{devEndDate,jdbcType=DATE},
      </if>
      <if test="targetNo != null">
        #{targetNo,jdbcType=NVARCHAR},
      </if>
      <if test="serviceType != null">
        #{serviceType,jdbcType=NVARCHAR},
      </if>
      <if test="simMobile != null">
        #{simMobile,jdbcType=NVARCHAR},
      </if>
      <if test="simEffDate != null">
        #{simEffDate,jdbcType=DATE},
      </if>
      <if test="simEndDate != null">
        #{simEndDate,jdbcType=DATE},
      </if>
      <if test="uploadDate != null">
        #{uploadDate,jdbcType=TIMESTAMP},
      </if>
      <if test="crUser != null">
        #{crUser,jdbcType=NVARCHAR},
      </if>
      <if test="crDate != null">
        #{crDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userstamp != null">
        #{userstamp,jdbcType=NVARCHAR},
      </if>
      <if test="datestamp != null">
        #{datestamp,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jun 02 11:30:13 GMT+08:00 2020.
    -->
    select count(*) from tb_device
     <where>
   		<if test="deviceType != null and deviceType != '' ">
			AND device_type =#{deviceType}
		</if>
   		<if test="imei != null and imei != '' ">
			AND imei = #{imei}
		</if>
   		<if test="imeiLike != null and imeiLike != '' ">
			AND imei like #{imeiLike}
		</if>
   		<if test="sn != null and sn != '' ">
			AND sn =#{sn}
		</if>
   		<if test="snLike != null and snLike != '' ">
			AND sn like #{snLike}
		</if>
   		<if test="deviceStatus != null and deviceStatus != '' ">
			AND device_status =#{deviceStatus}
		</if>
   		<if test="userId != null and userId != '' ">
			AND user_id =#{userId}
		</if>
		<if test="userIdLike != null and userIdLike != '' ">
			AND user_id like #{userIdLike}
		</if>
    </where>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jun 02 11:30:13 GMT+08:00 2020.
    -->
    update tb_device
    <set>
      <if test="record.deviceType != null">
        device_type = #{record.deviceType,jdbcType=NVARCHAR},
      </if>
      <if test="record.imei != null">
        imei = #{record.imei,jdbcType=NVARCHAR},
      </if>
      <if test="record.sn != null">
        sn = #{record.sn,jdbcType=NVARCHAR},
      </if>
      <if test="record.deviceStatus != null">
        device_status = #{record.deviceStatus,jdbcType=NVARCHAR},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=NVARCHAR},
      </if>
      <if test="record.bindDate != null">
        bind_date = #{record.bindDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.devEffDate != null">
        dev_eff_date = #{record.devEffDate,jdbcType=DATE},
      </if>
      <if test="record.devEndDate != null">
        dev_end_date = #{record.devEndDate,jdbcType=DATE},
      </if>
      <if test="record.targetNo != null">
        target_no = #{record.targetNo,jdbcType=NVARCHAR},
      </if>
      <if test="record.serviceType != null">
        service_type = #{record.serviceType,jdbcType=NVARCHAR},
      </if>
      <if test="record.simMobile != null">
        sim_mobile = #{record.simMobile,jdbcType=NVARCHAR},
      </if>
      <if test="record.simEffDate != null">
        sim_eff_date = #{record.simEffDate,jdbcType=DATE},
      </if>
      <if test="record.simEndDate != null">
        sim_end_date = #{record.simEndDate,jdbcType=DATE},
      </if>
      <if test="record.uploadDate != null">
        upload_date = #{record.uploadDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.crUser != null">
        cr_user = #{record.crUser,jdbcType=NVARCHAR},
      </if>
      <if test="record.crDate != null">
        cr_date = #{record.crDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userstamp != null">
        userstamp = #{record.userstamp,jdbcType=NVARCHAR},
      </if>
      <if test="record.datestamp != null">
        datestamp = #{record.datestamp,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jun 02 11:30:13 GMT+08:00 2020.
    -->
    update tb_device
    set device_type = #{record.deviceType,jdbcType=NVARCHAR},
      imei = #{record.imei,jdbcType=NVARCHAR},
      sn = #{record.sn,jdbcType=NVARCHAR},
      device_status = #{record.deviceStatus,jdbcType=NVARCHAR},
      user_id = #{record.userId,jdbcType=NVARCHAR},
      bind_date = #{record.bindDate,jdbcType=TIMESTAMP},
      dev_eff_date = #{record.devEffDate,jdbcType=DATE},
      dev_end_date = #{record.devEndDate,jdbcType=DATE},
      target_no = #{record.targetNo,jdbcType=NVARCHAR},
      service_type = #{record.serviceType,jdbcType=NVARCHAR},
      sim_mobile = #{record.simMobile,jdbcType=NVARCHAR},
      sim_eff_date = #{record.simEffDate,jdbcType=DATE},
      sim_end_date = #{record.simEndDate,jdbcType=DATE},
      upload_date = #{record.uploadDate,jdbcType=TIMESTAMP},
      cr_user = #{record.crUser,jdbcType=NVARCHAR},
      cr_date = #{record.crDate,jdbcType=TIMESTAMP},
      userstamp = #{record.userstamp,jdbcType=NVARCHAR},
      datestamp = #{record.datestamp,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="tw.msigDvrBack.persistence.TbDevice">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jun 02 11:30:13 GMT+08:00 2020.
    -->
    update tb_device
    <set>
      <if test="deviceStatus != null">
        device_status = #{deviceStatus,jdbcType=NVARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=NVARCHAR},
      </if>
      <if test="bindDate != null">
        bind_date = #{bindDate,jdbcType=TIMESTAMP},
      </if>
      <if test="devEffDate != null">
        dev_eff_date = #{devEffDate,jdbcType=DATE},
      </if>
      <if test="devEndDate != null">
        dev_end_date = #{devEndDate,jdbcType=DATE},
      </if>
      <if test="targetNo != null">
        target_no = #{targetNo,jdbcType=NVARCHAR},
      </if>
      <if test="serviceType != null">
        service_type = #{serviceType,jdbcType=NVARCHAR},
      </if>
      <if test="simMobile != null">
        sim_mobile = #{simMobile,jdbcType=NVARCHAR},
      </if>
      <if test="simEffDate != null">
        sim_eff_date = #{simEffDate,jdbcType=DATE},
      </if>
      <if test="simEndDate != null">
        sim_end_date = #{simEndDate,jdbcType=DATE},
      </if>
      <if test="uploadDate != null">
        upload_date = #{uploadDate,jdbcType=TIMESTAMP},
      </if>
      <if test="crUser != null">
        cr_user = #{crUser,jdbcType=NVARCHAR},
      </if>
      <if test="crDate != null">
        cr_date = #{crDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userstamp != null">
        userstamp = #{userstamp,jdbcType=NVARCHAR},
      </if>
      <if test="datestamp != null">
        datestamp = #{datestamp,jdbcType=TIMESTAMP},
      </if>
    </set>
    where device_type = #{deviceType,jdbcType=NVARCHAR}
      and imei = #{imei,jdbcType=NVARCHAR}
      and sn = #{sn,jdbcType=NVARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="tw.msigDvrBack.persistence.TbDevice">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jun 02 11:30:13 GMT+08:00 2020.
    -->
    update tb_device
    set device_status = #{deviceStatus,jdbcType=NVARCHAR},
      user_id = #{userId,jdbcType=NVARCHAR},
      bind_date = #{bindDate,jdbcType=TIMESTAMP},
      dev_eff_date = #{devEffDate,jdbcType=DATE},
      dev_end_date = #{devEndDate,jdbcType=DATE},
      target_no = #{targetNo,jdbcType=NVARCHAR},
      service_type = #{serviceType,jdbcType=NVARCHAR},
      sim_mobile = #{simMobile,jdbcType=NVARCHAR},
      sim_eff_date = #{simEffDate,jdbcType=DATE},
      sim_end_date = #{simEndDate,jdbcType=DATE},
      upload_date = #{uploadDate,jdbcType=TIMESTAMP},
      cr_user = #{crUser,jdbcType=NVARCHAR},
      cr_date = #{crDate,jdbcType=TIMESTAMP},
      userstamp = #{userstamp,jdbcType=NVARCHAR},
      datestamp = #{datestamp,jdbcType=TIMESTAMP}
    where device_type = #{deviceType,jdbcType=NVARCHAR}
      and imei = #{imei,jdbcType=NVARCHAR}
      and sn = #{sn,jdbcType=NVARCHAR}
  </update>
</mapper>