<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tw.msigDvrBack.manual.TbLookupCdeManualMapper">
	<sql id="msSqlrowNumberBegin">
    	rownum
    	,lookupType
      ,lookupCde
      ,dscr
      ,value
      ,type1
      ,type2
      ,type3
      ,crUser
      ,crDate
      ,userstamp
      ,datestamp
	    from ( 
		 select ROW_NUMBER() over (
		 <if test="orderByClause != null and orderByClause != ''">
	        <if test="orderByClause == 'datestamp desc'">
		      order by datestamp desc
		    </if>
	        <if test="orderByClause == 'lookup_cde'">
		      order by lookup_cde
		    </if>
	        <if test="orderByClause == 'lookup_cde, datestamp desc'">
		      order by lookup_cde, datestamp desc
		    </if>
	    </if>
		 ) rownum, 
    </sql>
    <sql id="msSqlrowNumberEnd">
	    ) as rownumbertable
	    where rownum between (#{begin}+1) and (#{perPage} + #{begin})
    </sql>
    <sql id="columnName">
    			lookup_type as lookupType,
               lookup_cde as lookupCde,
               dscr as dscr,
               value as value,
               type1 as type1,
               type2 as type2,
               type3 as type3,
               cr_user as crUser,
               cr_date as crDate,
               userstamp as userstamp,
               datestamp as datestamp
    </sql>
  <resultMap id="BaseResultMap" type="tw.msigDvrBack.persistence.TbLookupCde">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Sep 25 16:42:56 CST 2018.
    -->
    <id column="lookup_type" jdbcType="NVARCHAR" property="lookupType" />
    <id column="lookup_cde" jdbcType="NVARCHAR" property="lookupCde" />
    <result column="dscr" jdbcType="NVARCHAR" property="dscr" />
    <result column="value" jdbcType="DECIMAL" property="value" />
    <result column="type1" jdbcType="NVARCHAR" property="type1" />
    <result column="type2" jdbcType="NVARCHAR" property="type2" />
    <result column="type3" jdbcType="NVARCHAR" property="type3" />
    <result column="cr_user" jdbcType="NVARCHAR" property="crUser" />
    <result column="cr_date" jdbcType="TIMESTAMP" property="crDate" />
    <result column="userstamp" jdbcType="NVARCHAR" property="userstamp" />
    <result column="datestamp" jdbcType="TIMESTAMP" property="datestamp" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Sep 25 16:42:56 CST 2018.
    -->
    lookup_type, lookup_cde, dscr, value, type1, type2, type3, cr_user, cr_date, userstamp, 
    datestamp
  </sql>
  <select id="selectByExample" parameterType="java.util.Map" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Sep 25 16:42:56 CST 2018.
    -->
    select
    <if test="page != null">
   		<include refid="msSqlrowNumberBegin"/>
   	</if>
    <if test="distinct">
      distinct
    </if>
   	<include refid="columnName"/>
    from tb_lookup_cde
    <where>
   		<if test="lookupType != null and lookupType != '' ">
			AND lookup_type = #{lookupType}
		</if>
   		<if test="lookupCde != null and lookupCde != '' ">
			AND lookup_cde = #{lookupCde}
		</if>
    </where>
    <if test="page == null">
        <if test="orderByClause != null and orderByClause != ''">
	        <if test="orderByClause == 'datestamp desc'">
		      order by datestamp desc
		    </if>
	        <if test="orderByClause == 'lookup_cde, datestamp desc'">
		      order by lookup_cde, datestamp desc
		    </if>
		    <if test="orderByClause == 'lookup_cde'">
		      order by lookup_cde
		    </if>
	    </if>
   	</if>
    <if test="page != null">
       	<include refid="msSqlrowNumberEnd"/>
   	</if>
  </select>
  <select id="selectByPrimaryKey" parameterType="tw.msigDvrBack.persistence.TbLookupCdeKey" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Sep 25 16:42:56 CST 2018.
    -->
    select 
    <include refid="Base_Column_List" />
    from tb_lookup_cde
    where lookup_type = #{lookupType,jdbcType=NVARCHAR}
      and lookup_cde = #{lookupCde,jdbcType=NVARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="tw.msigDvrBack.persistence.TbLookupCdeKey">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Sep 25 16:42:56 CST 2018.
    -->
    delete from tb_lookup_cde
    where lookup_type = #{lookupType,jdbcType=NVARCHAR}
      and lookup_cde = #{lookupCde,jdbcType=NVARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="java.util.Map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Sep 25 16:42:56 CST 2018.
    -->
    delete from tb_lookup_cde
    <where>
	    <if test="lookupType != null">
	      lookup_type = #{lookupType,jdbcType=NVARCHAR}
	    </if>
	    <if test="lookupCde != null">
	      and lookup_cde = #{lookupCde,jdbcType=NVARCHAR}
	    </if>
    </where>
  </delete>
  <insert id="insert" parameterType="tw.msigDvrBack.persistence.TbLookupCde">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Sep 25 16:42:56 CST 2018.
    -->
    insert into tb_lookup_cde (lookup_type, lookup_cde, dscr, 
      value, type1, type2, 
      type3, cr_user, cr_date, 
      userstamp, datestamp)
    values (#{lookupType,jdbcType=NVARCHAR}, #{lookupCde,jdbcType=NVARCHAR}, #{dscr,jdbcType=NVARCHAR}, 
      #{value,jdbcType=DECIMAL}, #{type1,jdbcType=NVARCHAR}, #{type2,jdbcType=NVARCHAR}, 
      #{type3,jdbcType=NVARCHAR}, #{crUser,jdbcType=NVARCHAR}, #{crDate,jdbcType=TIMESTAMP}, 
      #{userstamp,jdbcType=NVARCHAR}, #{datestamp,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="tw.msigDvrBack.persistence.TbLookupCde">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Sep 25 16:42:56 CST 2018.
    -->
    insert into tb_lookup_cde
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lookupType != null">
        lookup_type,
      </if>
      <if test="lookupCde != null">
        lookup_cde,
      </if>
      <if test="dscr != null">
        dscr,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="type1 != null">
        type1,
      </if>
      <if test="type2 != null">
        type2,
      </if>
      <if test="type3 != null">
        type3,
      </if>
      <if test="crUser != null">
        cr_user,
      </if>
      <if test="crDate != null">
        cr_date,
      </if>
      <if test="userstamp != null">
        userstamp,
      </if>
      <if test="datestamp != null">
        datestamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lookupType != null">
        #{lookupType,jdbcType=NVARCHAR},
      </if>
      <if test="lookupCde != null">
        #{lookupCde,jdbcType=NVARCHAR},
      </if>
      <if test="dscr != null">
        #{dscr,jdbcType=NVARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=DECIMAL},
      </if>
      <if test="type1 != null">
        #{type1,jdbcType=NVARCHAR},
      </if>
      <if test="type2 != null">
        #{type2,jdbcType=NVARCHAR},
      </if>
      <if test="type3 != null">
        #{type3,jdbcType=NVARCHAR},
      </if>
      <if test="crUser != null">
        #{crUser,jdbcType=NVARCHAR},
      </if>
      <if test="crDate != null">
        #{crDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userstamp != null">
        #{userstamp,jdbcType=NVARCHAR},
      </if>
      <if test="datestamp != null">
        #{datestamp,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Sep 25 16:42:56 CST 2018.
    -->
    select count(*) from tb_lookup_cde
    <where>
   		<if test="lookupType != null and lookupType != '' ">
			AND lookup_type = #{lookupType}
		</if>
   		<if test="lookupCde != null and lookupCde != '' ">
			AND lookup_cde = #{lookupCde}
		</if>
    </where>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="tw.msigDvrBack.persistence.TbLookupCde">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Sep 25 16:42:56 CST 2018.
    -->
    update tb_lookup_cde
    <set>
      <if test="dscr != null">
        dscr = #{dscr,jdbcType=NVARCHAR},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=DECIMAL},
      </if>
      <if test="type1 != null">
        type1 = #{type1,jdbcType=NVARCHAR},
      </if>
      <if test="type2 != null">
        type2 = #{type2,jdbcType=NVARCHAR},
      </if>
      <if test="type3 != null">
        type3 = #{type3,jdbcType=NVARCHAR},
      </if>
      <if test="crUser != null">
        cr_user = #{crUser,jdbcType=NVARCHAR},
      </if>
      <if test="crDate != null">
        cr_date = #{crDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userstamp != null">
        userstamp = #{userstamp,jdbcType=NVARCHAR},
      </if>
      <if test="datestamp != null">
        datestamp = #{datestamp,jdbcType=TIMESTAMP},
      </if>
    </set>
    where lookup_type = #{lookupType,jdbcType=NVARCHAR}
      and lookup_cde = #{lookupCde,jdbcType=NVARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="tw.msigDvrBack.persistence.TbLookupCde">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Sep 25 16:42:56 CST 2018.
    -->
    update tb_lookup_cde
    set dscr = #{dscr,jdbcType=NVARCHAR},
      value = #{value,jdbcType=DECIMAL},
      type1 = #{type1,jdbcType=NVARCHAR},
      type2 = #{type2,jdbcType=NVARCHAR},
      type3 = #{type3,jdbcType=NVARCHAR},
      cr_user = #{crUser,jdbcType=NVARCHAR},
      cr_date = #{crDate,jdbcType=TIMESTAMP},
      userstamp = #{userstamp,jdbcType=NVARCHAR},
      datestamp = #{datestamp,jdbcType=TIMESTAMP}
    where lookup_type = #{lookupType,jdbcType=NVARCHAR}
      and lookup_cde = #{lookupCde,jdbcType=NVARCHAR}
  </update>
</mapper>