<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tw.msigDvrBack.manual.TbNewsManualMapper">
<sql id="msSqlrowNumberBegin">
    	rownum
    	,seqNo
      ,msgClass
      ,title
      ,content
      ,linkUrl
      ,csPhone
      ,effDate
      ,endDate
      ,prePushTime
      ,pushTime
      ,pushStatus
      ,crUser
      ,crDate
      ,userstamp
      ,datestamp
	    from ( 
		 select ROW_NUMBER() over (
			<if test="orderByClause != null and orderByClause != ''">
		        <if test="orderByClause == 'seq_no'">
			      order by seq_no
			    </if>
			    <if test="orderByClause == 'datestamp desc'">
			      order by datestamp desc
			    </if>
		    </if>

		) rownum, 
    </sql>
    <sql id="msSqlrowNumberEnd">
	    ) as rownumbertable
	    where rownum between (#{begin}+1) and (#{perPage} + #{begin})
    </sql>
    <sql id="columnName">
    seq_no as seqNo
      ,msg_class as msgClass
      ,title as title
      ,content as content
      ,link_url as linkUrl
      ,cs_phone as csPhone
      ,eff_date as effDate
      ,end_date as endDate
      ,pre_push_time as prePushTime
      ,push_time as pushTime
      ,push_status as pushStatus
      ,cr_user as crUser
      ,cr_date as crDate
      ,userstamp as userstamp
      ,datestamp as datestamp
    </sql>
  <resultMap id="BaseResultMap" type="tw.msigDvrBack.persistence.TbNews">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Oct 31 12:04:29 GMT+08:00 2018.
    -->
    <id column="seq_no" jdbcType="INTEGER" property="seqNo" />
    <result column="msg_class" jdbcType="NVARCHAR" property="msgClass" />
    <result column="title" jdbcType="NVARCHAR" property="title" />
    <result column="content" jdbcType="NVARCHAR" property="content" />
    <result column="link_url" jdbcType="NVARCHAR" property="linkUrl" />
    <result column="cs_phone" jdbcType="NVARCHAR" property="csPhone" />
    <result column="eff_date" jdbcType="DATE" property="effDate" />
    <result column="end_date" jdbcType="DATE" property="endDate" />
    <result column="pre_push_time" jdbcType="TIMESTAMP" property="prePushTime" />
    <result column="push_time" jdbcType="TIMESTAMP" property="pushTime" />
    <result column="push_status" jdbcType="NVARCHAR" property="pushStatus" />
    <result column="cr_user" jdbcType="NVARCHAR" property="crUser" />
    <result column="cr_date" jdbcType="TIMESTAMP" property="crDate" />
    <result column="userstamp" jdbcType="NVARCHAR" property="userstamp" />
    <result column="datestamp" jdbcType="TIMESTAMP" property="datestamp" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Oct 31 12:04:29 GMT+08:00 2018.
    -->
    seq_no, msg_class, title, content, link_url, cs_phone, eff_date, end_date, pre_push_time, 
    push_time, push_status, cr_user, cr_date, userstamp, datestamp
  </sql>
  <select id="selectByExample" parameterType="java.util.Map" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Oct 31 12:04:29 GMT+08:00 2018.
    -->
    select
    <if test="page != null">
   		<include refid="msSqlrowNumberBegin"/>
   	</if>
    <if test="distinct">
      distinct
    </if>
    <include refid="columnName" />
    from tb_news
    <where>
        <if test="seqNo != null and seqNo != ''">
            and seq_no = #{seqNo}
        </if>
        <if test="msgClass != null and msgClass != ''">
            and msg_class = #{msgClass}
        </if>
        <if test="pushStatus != null and pushStatus != ''">
            and push_status = #{pushStatus}
        </if>
        <if test="titleLike != null and titleLike != ''">
            and title like #{titleLike}
        </if>
        <if test="title != null and title != ''">
            and title = #{title}
        </if>
    </where>
    <if test="page == null">
        <if test="orderByClause != null and orderByClause != ''">
	        <if test="orderByClause == 'seq_no'">
		      order by seq_no
		    </if>
		    <if test="orderByClause == 'datestamp desc'">
		      order by datestamp desc
		    </if>
	    </if>
  	</if>
    <if test="page != null">
       	<include refid="msSqlrowNumberEnd"/>
   	</if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Oct 31 12:04:29 GMT+08:00 2018.
    -->
    select 
    <include refid="Base_Column_List" />
    from tb_news
    where seq_no = #{seqNo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Oct 31 12:04:29 GMT+08:00 2018.
    -->
    delete from tb_news
    where seq_no = #{seqNo,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="tw.msigDvrBack.persistence.TbNews">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Oct 31 12:04:29 GMT+08:00 2018.
    -->
    insert into tb_news (seq_no, msg_class, title, 
      content, link_url, cs_phone, 
      eff_date, end_date, pre_push_time, 
      push_time, push_status, cr_user, 
      cr_date, userstamp, datestamp
      )
    values (#{seqNo,jdbcType=INTEGER}, #{msgClass,jdbcType=NVARCHAR}, #{title,jdbcType=NVARCHAR}, 
      #{content,jdbcType=NVARCHAR}, #{linkUrl,jdbcType=NVARCHAR}, #{csPhone,jdbcType=NVARCHAR}, 
      #{effDate,jdbcType=DATE}, #{endDate,jdbcType=DATE}, #{prePushTime,jdbcType=TIMESTAMP}, 
      #{pushTime,jdbcType=TIMESTAMP}, #{pushStatus,jdbcType=NVARCHAR}, #{crUser,jdbcType=NVARCHAR}, 
      #{crDate,jdbcType=TIMESTAMP}, #{userstamp,jdbcType=NVARCHAR}, #{datestamp,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="tw.msigDvrBack.persistence.TbNews">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Oct 31 12:04:29 GMT+08:00 2018.
    -->
    insert into tb_news
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="seqNo != null">
        seq_no,
      </if>
      <if test="msgClass != null">
        msg_class,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="linkUrl != null">
        link_url,
      </if>
      <if test="csPhone != null">
        cs_phone,
      </if>
      <if test="effDate != null">
        eff_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
      <if test="prePushTime != null">
        pre_push_time,
      </if>
      <if test="pushTime != null">
        push_time,
      </if>
      <if test="pushStatus != null">
        push_status,
      </if>
      <if test="crUser != null">
        cr_user,
      </if>
      <if test="crDate != null">
        cr_date,
      </if>
      <if test="userstamp != null">
        userstamp,
      </if>
      <if test="datestamp != null">
        datestamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="seqNo != null">
        #{seqNo,jdbcType=INTEGER},
      </if>
      <if test="msgClass != null">
        #{msgClass,jdbcType=NVARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=NVARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=NVARCHAR},
      </if>
      <if test="linkUrl != null">
        #{linkUrl,jdbcType=NVARCHAR},
      </if>
      <if test="csPhone != null">
        #{csPhone,jdbcType=NVARCHAR},
      </if>
      <if test="effDate != null">
        #{effDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=DATE},
      </if>
      <if test="prePushTime != null">
        #{prePushTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pushTime != null">
        #{pushTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pushStatus != null">
        #{pushStatus,jdbcType=NVARCHAR},
      </if>
      <if test="crUser != null">
        #{crUser,jdbcType=NVARCHAR},
      </if>
      <if test="crDate != null">
        #{crDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userstamp != null">
        #{userstamp,jdbcType=NVARCHAR},
      </if>
      <if test="datestamp != null">
        #{datestamp,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Oct 31 12:04:29 GMT+08:00 2018.
    -->
    select count(*) from tb_news
    <where>
        <if test="msgClass != null and msgClass != ''">
            and msg_class = #{msgClass}
        </if>
        <if test="pushStatus != null and pushStatus != ''">
            and push_status = #{pushStatus}
        </if>
        <if test="titleLike != null and titleLike != ''">
            and title like #{titleLike}
        </if>
        <if test="title != null and title != ''">
            and title = #{title}
        </if>
    </where>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="tw.msigDvrBack.persistence.TbNews">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Oct 31 12:04:29 GMT+08:00 2018.
    -->
    update tb_news
    <set>
      <if test="msgClass != null">
        msg_class = #{msgClass,jdbcType=NVARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=NVARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=NVARCHAR},
      </if>
      <if test="linkUrl != null">
        link_url = #{linkUrl,jdbcType=NVARCHAR},
      </if>
      <if test="csPhone != null">
        cs_phone = #{csPhone,jdbcType=NVARCHAR},
      </if>
      <if test="effDate != null">
        eff_date = #{effDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=DATE},
      </if>
      <if test="prePushTime != null">
        pre_push_time = #{prePushTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pushTime != null">
        push_time = #{pushTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pushStatus != null">
        push_status = #{pushStatus,jdbcType=NVARCHAR},
      </if>
      <if test="crUser != null">
        cr_user = #{crUser,jdbcType=NVARCHAR},
      </if>
      <if test="crDate != null">
        cr_date = #{crDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userstamp != null">
        userstamp = #{userstamp,jdbcType=NVARCHAR},
      </if>
      <if test="datestamp != null">
        datestamp = #{datestamp,jdbcType=TIMESTAMP},
      </if>
    </set>
    where seq_no = #{seqNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="tw.msigDvrBack.persistence.TbNews">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Oct 31 12:04:29 GMT+08:00 2018.
    -->
    update tb_news
    set msg_class = #{msgClass,jdbcType=NVARCHAR},
      title = #{title,jdbcType=NVARCHAR},
      content = #{content,jdbcType=NVARCHAR},
      link_url = #{linkUrl,jdbcType=NVARCHAR},
      cs_phone = #{csPhone,jdbcType=NVARCHAR},
      eff_date = #{effDate,jdbcType=DATE},
      end_date = #{endDate,jdbcType=DATE},
      pre_push_time = #{prePushTime,jdbcType=TIMESTAMP},
      push_time = #{pushTime,jdbcType=TIMESTAMP},
      push_status = #{pushStatus,jdbcType=NVARCHAR},
      cr_user = #{crUser,jdbcType=NVARCHAR},
      cr_date = #{crDate,jdbcType=TIMESTAMP},
      userstamp = #{userstamp,jdbcType=NVARCHAR},
      datestamp = #{datestamp,jdbcType=TIMESTAMP}
    where seq_no = #{seqNo,jdbcType=INTEGER}
  </update>
  
   <update id="updatePushStatus" parameterType="java.util.Map">

       update tb_news
			  	         set push_status = 'W'
			  	       where seq_no =  #{seqNo}
			  	         and push_status = 'N';

  </update>
  
</mapper>