<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tw.msigDvrBack.manual.VwCustUbiApplyManualMapper">
<sql id="msSqlrowNumberBegin">
    	rownum
      ,applyNo
      ,userId
      ,applyDate
      ,applyStatus
      ,insuranceRate
      ,annualMileage
      ,carNo
      ,effMileage
      ,effMileageDate
      ,effMileageImg
      ,endMileage
      ,endMileageDate
      ,endMileageImg
      ,chkDate
      ,compDate
      ,failDate
      ,effUbiDate
      ,endUbiDate
      ,contactPhone
      ,city
      ,area
      ,zip
      ,crUser
      ,crDate
      ,userstamp
      ,datestamp
      ,promCode
      ,dscr
      ,servicer
	    from ( 
		 select ROW_NUMBER() over (
		<if test="orderByClause != null and orderByClause != ''">
	        <if test="orderByClause == 'apply_no'">
		      order by apply_no
		    </if>
	        <if test="orderByClause == 'datestamp desc'">
		      order by datestamp desc
		    </if>
	    </if>
		) rownum, 
    </sql>
    <sql id="msSqlrowNumberEnd">
	    ) as rownumbertable
	    where rownum between (#{begin}+1) and (#{perPage} + #{begin})
    </sql>
    <sql id="columnName">
	      apply_no as applyNo
      ,user_id as userId
      ,apply_date as applyDate
      ,apply_status as applyStatus
      ,insurance_rate as insuranceRate
      ,annual_mileage as annualMileage
      ,car_no as carNo
      ,eff_mileage as effMileage
      ,eff_mileage_date as effMileageDate
      ,eff_mileage_img as effMileageImg
      ,end_mileage as endMileage
      ,end_mileage_date as endMileageDate
      ,end_mileage_img as endMileageImg
      ,chk_date as chkDate
      ,comp_date as compDate
      ,fail_date as failDate
      ,eff_ubi_date as effUbiDate
      ,end_ubi_date as endUbiDate
      ,contact_phone as contactPhone
      ,city as city
      ,area as area
      ,zip as zip
      ,cr_user as crUser
      ,cr_date as crDate
      ,userstamp as userstamp
      ,datestamp as datestamp
      ,prom_code as promCode
      ,dscr as dscr
      ,servicer as servicer
    </sql>
  <resultMap id="BaseResultMap" type="tw.msigDvrBack.persistence.VwCustUbiApply">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Nov 26 16:38:25 GMT+08:00 2018.
    -->
    <result column="apply_no" jdbcType="NVARCHAR" property="applyNo" />
    <result column="user_id" jdbcType="NVARCHAR" property="userId" />
    <result column="apply_date" jdbcType="TIMESTAMP" property="applyDate" />
    <result column="apply_status" jdbcType="NVARCHAR" property="applyStatus" />
    <result column="insurance_rate" jdbcType="INTEGER" property="insuranceRate" />
    <result column="annual_mileage" jdbcType="INTEGER" property="annualMileage" />
    <result column="car_no" jdbcType="NVARCHAR" property="carNo" />
    <result column="eff_mileage" jdbcType="INTEGER" property="effMileage" />
    <result column="eff_mileage_date" jdbcType="DATE" property="effMileageDate" />
    <result column="eff_mileage_img" jdbcType="NVARCHAR" property="effMileageImg" />
    <result column="end_mileage" jdbcType="INTEGER" property="endMileage" />
    <result column="end_mileage_date" jdbcType="DATE" property="endMileageDate" />
    <result column="end_mileage_img" jdbcType="NVARCHAR" property="endMileageImg" />
    <result column="chk_date" jdbcType="TIMESTAMP" property="chkDate" />
    <result column="comp_date" jdbcType="TIMESTAMP" property="compDate" />
    <result column="fail_date" jdbcType="TIMESTAMP" property="failDate" />
    <result column="eff_ubi_date" jdbcType="DATE" property="effUbiDate" />
    <result column="end_ubi_date" jdbcType="DATE" property="endUbiDate" />
    <result column="ubi_mark" jdbcType="NVARCHAR" property="ubiMark" />
    <result column="contact_phone" jdbcType="NVARCHAR" property="contactPhone" />
    <result column="city" jdbcType="NVARCHAR" property="city" />
    <result column="area" jdbcType="NVARCHAR" property="area" />
    <result column="zip" jdbcType="NVARCHAR" property="zip" />
    <result column="cr_user" jdbcType="NVARCHAR" property="crUser" />
    <result column="cr_date" jdbcType="TIMESTAMP" property="crDate" />
    <result column="userstamp" jdbcType="NVARCHAR" property="userstamp" />
    <result column="datestamp" jdbcType="TIMESTAMP" property="datestamp" />
    <result column="prom_code" jdbcType="NVARCHAR" property="promCode" />
    <result column="dscr" jdbcType="NVARCHAR" property="dscr" />
    <result column="servicer" jdbcType="NVARCHAR" property="servicer" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Nov 02 17:28:20 GMT+08:00 2018.
    -->
    apply_no, user_id, apply_date, apply_status, insurance_rate, annual_mileage, car_no, 
    eff_mileage, eff_mileage_date, eff_mileage_img, end_mileage, end_mileage_date, end_mileage_img, 
    chk_date, comp_date, fail_date, eff_ubi_date, end_ubi_date, contact_phone, city, 
    area, zip, cr_user, cr_date, userstamp, datestamp, prom_code, dscr, servicer
  </sql>
  <select id="selectByExample" parameterType="java.util.Map" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Nov 02 17:28:20 GMT+08:00 2018.
    -->
    select
    <if test="page != null">
   		<include refid="msSqlrowNumberBegin"/>
   	</if>
    <if test="distinct">
      distinct
    </if>
    <include refid="columnName" />
    from vw_cust_ubi_apply
    <where>
        <if test="applyNo != null and applyNo != ''">
            and apply_no = #{applyNo}
        </if>
        <if test="applyNoLike != null and applyNoLike != ''">
            and apply_no like #{applyNoLike}
        </if>
        <if test="userId != null and userId != ''">
            and user_id = #{userId}
        </if>
        <if test="userIdLike != null and userIdLike != ''">
            and user_id like #{userIdLike}
        </if>
        <if test="applyStatus != null and applyStatus != ''">
            and apply_status = #{applyStatus}
        </if>
        <if test="carNo != null and carNo != ''">
            and car_no = #{carNo}
        </if>
        <if test="carNoLike != null and carNoLike != ''">
            and car_no like #{carNoLike}
        </if>
        <if test="promCode != null and promCode != ''">
            and prom_code = #{promCode}
        </if>
        <if test="promCodeLike != null and promCodeLike != ''">
            and prom_code like #{promCodeLike}
        </if>
        <if test="applyDateBetween != null and applyDateBetween != ''">
        	and apply_date  <![CDATA[ <= ]]>   #{applyDateEnd} and apply_date <![CDATA[ >= ]]> #{applyDateBegin}
        </if>
        <if test="applyDateGreaterThanOrEqualTo != null and applyDateGreaterThanOrEqualTo != ''">
        	and apply_date <![CDATA[ >= ]]> #{applyDateBegin}
        </if>
        <if test="applyDateLessThanOrEqualTo != null and applyDateLessThanOrEqualTo != ''">
        	and apply_date  <![CDATA[ <= ]]>   #{applyDateEnd} 
        </if>
    </where>
    <if test="page == null">
        <if test="orderByClause != null and orderByClause != ''">
	        <if test="orderByClause == 'apply_no'">
		      order by apply_no
		    </if>
	        <if test="orderByClause == 'datestamp desc'">
		      order by datestamp desc
		    </if>
	    </if>
   	</if>
    <if test="page != null">
       	<include refid="msSqlrowNumberEnd"/>
   	</if>
  </select>
  <insert id="insert" parameterType="tw.msigDvrBack.persistence.VwCustUbiApply">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Nov 02 17:28:20 GMT+08:00 2018.
    -->
    insert into vw_cust_ubi_apply (apply_no, user_id, apply_date, 
      apply_status, insurance_rate, annual_mileage, 
      car_no, eff_mileage, eff_mileage_date, 
      eff_mileage_img, end_mileage, end_mileage_date, 
      end_mileage_img, chk_date, comp_date, 
      fail_date, eff_ubi_date, end_ubi_date, 
      contact_phone, city, area, 
      zip, cr_user, cr_date, 
      userstamp, datestamp, prom_code, 
      dscr, servicer)
    values (#{applyNo,jdbcType=NVARCHAR}, #{userId,jdbcType=NVARCHAR}, #{applyDate,jdbcType=TIMESTAMP}, 
      #{applyStatus,jdbcType=NVARCHAR}, #{insuranceRate,jdbcType=INTEGER}, #{annualMileage,jdbcType=INTEGER}, 
      #{carNo,jdbcType=NVARCHAR}, #{effMileage,jdbcType=INTEGER}, #{effMileageDate,jdbcType=DATE}, 
      #{effMileageImg,jdbcType=NVARCHAR}, #{endMileage,jdbcType=INTEGER}, #{endMileageDate,jdbcType=DATE}, 
      #{endMileageImg,jdbcType=NVARCHAR}, #{chkDate,jdbcType=TIMESTAMP}, #{compDate,jdbcType=TIMESTAMP}, 
      #{failDate,jdbcType=TIMESTAMP}, #{effUbiDate,jdbcType=DATE}, #{endUbiDate,jdbcType=DATE}, 
      #{contactPhone,jdbcType=NVARCHAR}, #{city,jdbcType=NVARCHAR}, #{area,jdbcType=NVARCHAR}, 
      #{zip,jdbcType=NVARCHAR}, #{crUser,jdbcType=NVARCHAR}, #{crDate,jdbcType=TIMESTAMP}, 
      #{userstamp,jdbcType=NVARCHAR}, #{datestamp,jdbcType=TIMESTAMP}, #{promCode,jdbcType=NVARCHAR}, 
      #{dscr,jdbcType=NVARCHAR},#{servicer,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="tw.msigDvrBack.persistence.VwCustUbiApply">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Nov 02 17:28:20 GMT+08:00 2018.
    -->
    insert into vw_cust_ubi_apply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="applyNo != null">
        apply_no,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="applyDate != null">
        apply_date,
      </if>
      <if test="applyStatus != null">
        apply_status,
      </if>
      <if test="insuranceRate != null">
        insurance_rate,
      </if>
      <if test="annualMileage != null">
        annual_mileage,
      </if>
      <if test="carNo != null">
        car_no,
      </if>
      <if test="effMileage != null">
        eff_mileage,
      </if>
      <if test="effMileageDate != null">
        eff_mileage_date,
      </if>
      <if test="effMileageImg != null">
        eff_mileage_img,
      </if>
      <if test="endMileage != null">
        end_mileage,
      </if>
      <if test="endMileageDate != null">
        end_mileage_date,
      </if>
      <if test="endMileageImg != null">
        end_mileage_img,
      </if>
      <if test="chkDate != null">
        chk_date,
      </if>
      <if test="compDate != null">
        comp_date,
      </if>
      <if test="failDate != null">
        fail_date,
      </if>
      <if test="effUbiDate != null">
        eff_ubi_date,
      </if>
      <if test="endUbiDate != null">
        end_ubi_date,
      </if>
      <if test="contactPhone != null">
        contact_phone,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="zip != null">
        zip,
      </if>
      <if test="crUser != null">
        cr_user,
      </if>
      <if test="crDate != null">
        cr_date,
      </if>
      <if test="userstamp != null">
        userstamp,
      </if>
      <if test="datestamp != null">
        datestamp,
      </if>
      <if test="promCode != null">
        prom_code,
      </if>
      <if test="dscr != null">
        dscr,
      </if>
      <if test="servicer != null">
        servicer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="applyNo != null">
        #{applyNo,jdbcType=NVARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=NVARCHAR},
      </if>
      <if test="applyDate != null">
        #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyStatus != null">
        #{applyStatus,jdbcType=NVARCHAR},
      </if>
      <if test="insuranceRate != null">
        #{insuranceRate,jdbcType=INTEGER},
      </if>
      <if test="annualMileage != null">
        #{annualMileage,jdbcType=INTEGER},
      </if>
      <if test="carNo != null">
        #{carNo,jdbcType=NVARCHAR},
      </if>
      <if test="effMileage != null">
        #{effMileage,jdbcType=INTEGER},
      </if>
      <if test="effMileageDate != null">
        #{effMileageDate,jdbcType=DATE},
      </if>
      <if test="effMileageImg != null">
        #{effMileageImg,jdbcType=NVARCHAR},
      </if>
      <if test="endMileage != null">
        #{endMileage,jdbcType=INTEGER},
      </if>
      <if test="endMileageDate != null">
        #{endMileageDate,jdbcType=DATE},
      </if>
      <if test="endMileageImg != null">
        #{endMileageImg,jdbcType=NVARCHAR},
      </if>
      <if test="chkDate != null">
        #{chkDate,jdbcType=TIMESTAMP},
      </if>
      <if test="compDate != null">
        #{compDate,jdbcType=TIMESTAMP},
      </if>
      <if test="failDate != null">
        #{failDate,jdbcType=TIMESTAMP},
      </if>
      <if test="effUbiDate != null">
        #{effUbiDate,jdbcType=DATE},
      </if>
      <if test="endUbiDate != null">
        #{endUbiDate,jdbcType=DATE},
      </if>
      <if test="contactPhone != null">
        #{contactPhone,jdbcType=NVARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=NVARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=NVARCHAR},
      </if>
      <if test="zip != null">
        #{zip,jdbcType=NVARCHAR},
      </if>
      <if test="crUser != null">
        #{crUser,jdbcType=NVARCHAR},
      </if>
      <if test="crDate != null">
        #{crDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userstamp != null">
        #{userstamp,jdbcType=NVARCHAR},
      </if>
      <if test="datestamp != null">
        #{datestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="promCode != null">
        #{promCode,jdbcType=NVARCHAR},
      </if>
      <if test="dscr != null">
        #{dscr,jdbcType=NVARCHAR},
      </if>
      <if test="servicer != null">
        #{servicer,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Nov 02 17:28:20 GMT+08:00 2018.
    -->
    select count(*) from vw_cust_ubi_apply
    <where>
        <if test="applyNo != null and applyNo != ''">
            and apply_no = #{applyNo}
        </if>
        <if test="applyNoLike != null and applyNoLike != ''">
            and apply_no like #{applyNoLike}
        </if>
        <if test="userId != null and userId != ''">
            and user_id = #{userId}
        </if>
        <if test="userIdLike != null and userIdLike != ''">
            and user_id like #{userIdLike}
        </if>
        <if test="applyStatus != null and applyStatus != ''">
            and apply_status = #{applyStatus}
        </if>
        <if test="carNo != null and carNo != ''">
            and car_no = #{carNo}
        </if>
        <if test="carNoLike != null and carNoLike != ''">
            and car_no like #{carNoLike}
        </if>
        <if test="promCode != null and promCode != ''">
            and prom_code = #{promCode}
        </if>
        <if test="promCodeLike != null and promCodeLike != ''">
            and prom_code like #{promCodeLike}
        </if>
        <if test="applyDateBetween != null and applyDateBetween != ''">
        	and apply_date  <![CDATA[ <= ]]>   #{applyDateEnd} and apply_date <![CDATA[ >= ]]> #{applyDateBegin}
        </if>
        <if test="applyDateGreaterThanOrEqualTo != null and applyDateGreaterThanOrEqualTo != ''">
        	and apply_date <![CDATA[ >= ]]> #{applyDateBegin}
        </if>
        <if test="applyDateLessThanOrEqualTo != null and applyDateLessThanOrEqualTo != ''">
        	and apply_date  <![CDATA[ <= ]]>   #{applyDateEnd} 
        </if>
    </where>
  </select>
</mapper>