<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"  value="%utcdate{yyyy-MM-dd HH:mm:ss.fff} %-5level [%thread] - %type.%method - %message%newline"/>
        </layout>
    </appender>

	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
<!--       <param name="File" value="C:/apache-tomcat/logs/MsigDvrBack.log"/> -->
      <param name="File" value="${catalina.home}/logs/MsigDvrBack.log"/>
      <param name="Append" value="true"/>
      <param name="MaxFileSize" value="2048KB"/>
      <param name="MaxBackupIndex" value="100"/>
		<layout class="org.apache.log4j.PatternLayout">
  		     <param name="ConversionPattern" value="%utcdate{yyyy-MM-dd HH:mm:ss.fff} %-5level [%thread] - %type.%method - %message%newline"/>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
		</filter>
	</appender>

    <logger name="org.apache">
        <level value="WARN"/>
    </logger>
    
	<logger name="org.mybatis">
        <level value="WARN"/>
    </logger>
    
    <logger name="com.ibatis">
        <level value="WARN"/>
    </logger>
    
    <logger name="org.springframework">
        <level value="WARN"/>
    </logger>

	<logger name="tw.com">
		<level value="DEBUG"/>
	</logger>
   
   <!-- show sql -->
	<logger name="java.sql.Connection" additivity="true">   
	   <level value="DEBUG" />   
	</logger>   
	<logger name="java.sql.Statement" additivity="true">   
	   <level value="DEBUG" />   
	</logger>   
	<logger name="java.sql.PreparedStatement" additivity="true">   
	   <level value="DEBUG" />   
	   <appender-ref ref="IBatis" />   
	</logger>   
	<logger name="java.sql.ResultSet" additivity="true">   
	   <level value="DEBUG" />   
	   <appender-ref ref="IBatis" />   
	</logger>   
	<!-- show sql -->
   
    <root>
        <level value="INFO"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</log4j:configuration>